body {
  font-family: "Montserrat Alternates", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Light mode */
body.light {
  background-color: #fff3cd;
  color: #212529;
}

/* Dark mode */
body.dark {
  background-color: #212529;
  color: #f8f9fa;
}
